/* ********************************************************************
    itom software
    URL: http://www.uni-stuttgart.de/ito
    Copyright (C) 2013, Institut für Technische Optik (ITO),
    Universität Stuttgart, Germany

    This file is part of itom and its software development toolkit (SDK).

    itom is free software; you can redistribute it and/or modify it
    under the terms of the GNU Library General Public Licence as published by
    the Free Software Foundation; either version 2 of the Licence, or (at
    your option) any later version.

    In addition, as a special exception, the Institut für Technische
    Optik (ITO) gives you certain additional rights.
    These rights are described in the ITO LGPL Exception version 1.0,
    which can be found in the file LGPL_EXCEPTION.txt in this package.

    itom is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Library
    General Public Licence for more details.

    You should have received a copy of the GNU Library General Public License
    along with itom. If not, see <http://www.gnu.org/licenses/>.
*********************************************************************** */

#ifndef SNV_VERSION_H
#define SNV_VERSION_H

/// Type of the current repository
#define USING_SVN 1

/// Highest SVN version in itomfolder repository
#define SVN_REVISION "$WCREV$"

/// Date of highest revision
#define SVN_REVISION_DATE "$WCDATE$"

/// URL of project archive
#define SVN_REPOSITORY_URL "$WCURL$"

/// If WCMODS == TText, this is not a clean build
#define SVN_CLEAN_BUILD_FLAG $WCMODS?0:1$

#endif // SNV_VERSION_H
