breathe
matplotlib
mplcyberpunk
numpydoc
pandas
openpyxl
plotly
pytest
qbstyles
scikit-learn
scipy
SciencePlots
seaborn
sphinx
sphinx_copybutton
sphinx_gallery
sphinx_rtd_theme
sphinxcontrib-moderncmakedomain
sphinx-favicon
sphinxcontrib-fulltoc
pydata-sphinx-theme
