breathe
matplotlib
mplcyberpunk
numpydoc
pandas
openpyxl
plotly
pytest
qbstyles
scikit-learn
scipy
SciencePlots
seaborn
sphinx
sphinx_copybutton
sphinx_gallery
sphinxcontrib-moderncmakedomain
sphinx-favicon
sphinxcontrib-fulltoc
sphinxcontrib-jquery
pydata-sphinx-theme
ipython
nbformat
