matplotlib
mplcyberpunk
pandas
openpyxl
plotly
pytest
qbstyles
scikit-learn
scipy
SciencePlots
seaborn
scikit-learn
pydata-sphinx-theme
ipython
nbformat
sphinx
sphinx_copybutton
sphinx_gallery
sphinxcontrib-moderncmakedomain
sphinx-favicon
sphinxcontrib-fulltoc
sphinxcontrib-jquery
numpydoc
breathe
